
title {
  background-color: black;
  height: 200px;
  width: 1024px;

}
.services {
  background-color: blue;
  height: 100px;
  width: 400px;
}

nav a {
  color: white;
  height: 100px;

}

nav {
  text-align: center;
  word-spacing: 150px;

}
